<%- include partials/header.ejs %>
<body class='w-screen flex items-center flex-col bg-gray-100'>
    <%- include partials/navbar.ejs %>
    <div class="w-9/12">
        <hr>
        <h1 class="text-3xl p-2"><%= pergunta.titulo %></h1>
        <p class="p-4 bg-white border-2 rounded-xl"><%= pergunta.descricao %></p>
        <hr>
        <form class="flex flex-col" method="POST" action="/responder">
            <h3 class="text-2xl">Responda</h3>
            <label>Resposta:</label>
            <textarea class="p-4 bg-white border-2 rounded-xl" placeholder="Digite sua resposta" class="" name="corpo"></textarea><br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="bg-blue-500 p-3.5 text-white rounded-lg">Responder</button>
        </form>
        <hr>
        <h3 class="text-3xl">Respostas</h3>
        <hr>
        <% respostas.forEach(resposta => {%>
            <br>
            <div class="">
                <div class="">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include partials/footer.ejs %>
